<app-table
  [headers]="tableHeaders"
  [dataSource]="tableData()"
  [paginatorConfig]="paginatorConfig()"
  (pageClick)="handlePageClick($event)"
  (actionButtonClick)="handleTableActionButtonClick($event)"
>
  <button matButton="elevated" (click)="handleAddButtonClick()">
    Adicionar
    <mat-icon>add</mat-icon>
  </button>
  <button matButton="elevated" (click)="handleImportButtonClick()">
    Importar
    <mat-icon>upload</mat-icon>
  </button>
</app-table>

<app-buy-sell-modal
  [formInitialValue]="buySellFormInitialValue()"
  (cancelModal)="closeModal()"
  (saveBuySell)="updateBuysSellsList()"
/>

<app-import-buys-sells-modal
  [selectedAsset]="assetId"
  (cancelModal)="closeModal()"
  (importBuysSells)="updateBuysSellsList()"
/>

<app-delete-buy-sell-modal
  (cancelModal)="closeModal()"
  (deleteBuySell)="handleDeleteBuySell()"
/>
