<app-table
  [headers]="tableHeaders"
  [dataSource]="tableData()"
  [paginatorConfig]="paginatorConfig()"
  (pageClick)="handlePageClick($event)"
  (actionButtonClick)="handleTableActionButtonClick($event)"
>
  <button matButton="elevated" (click)="handleAddButtonClick()">
    Adicionar
    <mat-icon>add</mat-icon>
  </button>
  <button matButton="elevated" (click)="handleImportButtonClick()">
    Importar
    <mat-icon>upload</mat-icon>
  </button>
</app-table>

<app-operation-modal
  [assetId]="this.portfolioAsset()?.assetId"
  (cancelModal)="closeModal()"
  (saveOperation)="updateOperationsList()"
/>

<app-import-operations-modal
  [selectedAsset]="this.portfolioAsset()?.assetId"
  (cancelModal)="closeModal()"
  (importOperations)="updateOperationsList()"
/>

<app-delete-operation-modal
  (cancelModal)="closeModal()"
  (deleteOperation)="handleDeleteOperation()"
/>
