@use '@angular/material';

:host {
  background-color: light-dark(#fff, #0d0d0d);
  border-radius: 16px;
  padding: 1.5rem;

  .clickable-row {
    cursor: pointer;

    &:hover {
      background-color: light-dark(#f9f9f9, #000);
    }
  }
}