@use '@angular/material';

.table-container {
  background-color: light-dark(#fff, #0d0d0d);
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  padding: var(--table-container-padding, 1.5rem);

  .projected-content-container {
    align-items: center;
    display: flex;

    .projected-content {
      display: flex;
      flex: 1;
      gap: 1rem;
      justify-content: flex-end;
    }
  }

  .table-content-container {
    width: 100%;
  }

  .clickable-row {
    cursor: pointer;

    &:hover {
      background-color: light-dark(#f9f9f9, #000);
    }
  }
}