<div class="filters-container">
  <mat-button-toggle-group [formControl]="display" (change)="setupChart()">
    <mat-button-toggle value="value">Valor</mat-button-toggle>
    <mat-button-toggle value="yield">Yield</mat-button-toggle>
  </mat-button-toggle-group>

  <button matIconButton (click)="handleFilterListButtonClick()">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<div #chartContainer class="chart-container"></div>

<app-payouts-chart-filters-modal
  [portfoliosAssets]="portfoliosAssets()"
  (cancelModal)="closeModal()"
  (confirmFilters)="handleConfirmFilters($event)"
/>
