:host {
  background-color: #0d0d0d;
  border-radius: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem;

  mat-form-field {
    align-self: flex-end;
  }

  .chart-container {
    flex: 1;
    min-height: 100%;
  }
}