<app-table
  [headers]="tableHeaders"
  [dataSource]="tableData()"
  [paginatorConfig]="paginatorConfig()"
  (pageClick)="handlePageClick($event)"
  (actionButtonClick)="handleTableActionButtonClick($event)"
>
  <button matButton="elevated" (click)="openPayoutModal()">
    Adicionar
    <mat-icon>add</mat-icon>
  </button>
  <button matButton="elevated" (click)="handleImportButtonClick()">
    Importar
    <mat-icon>upload</mat-icon>
  </button>
</app-table>

<app-portfolio-asset-payout-modal
  [portfolioAsset]="portfolioAsset()"
  [payout]="payout()"
  (cancelModal)="handleCancelModal()"
  (savePayout)="updatePayoutsList()"
/>

<app-import-portfolio-asset-payouts-modal
  [portfolioAsset]="portfolioAsset()"
  (cancelModal)="closeModal()"
  (importPayouts)="updatePayoutsList()"
/>

<app-delete-portfolio-asset-payout-modal
  [portfolioAsset]="portfolioAsset()"
  (cancelModal)="closeModal()"
  (deletePayout)="updatePayoutsList()"
/>
