<ng-template #productModalContentTemplate>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Código</mat-label>
      <input matInput formControlName="ticker" />
      <mat-error> Código é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        @for (option of categoryInputOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
      <mat-error> Categoria é obrigatória </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Classe</mat-label>
      <mat-select formControlName="assetClass">
        @for (option of assetClassInputOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
      <mat-error> Classe é obrigatória </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Setor</mat-label>
      <input matInput formControlName="sector" />
      <mat-error> Setor é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Moeda</mat-label>
      <mat-select formControlName="currency">
        @for (option of currencyInputOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
      <mat-error> Moeda é obrigatória </mat-error>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #productModalActionsTemplate>
  <button matButton (click)="handleCancelButtonClick()">Cancel</button>
  <button
    matButton
    [disabled]="productForm.invalid || productForm.pristine"
    (click)="handleConfirmButtonClick()"
  >
    Confirm
  </button>
</ng-template>
