<app-logo />
<div class="items-container">
  @for (item of items; track item.label) {
    <div
      [class]="{
        'item-container': true,
        'expanded-item-container':
          item.label === selectedItem()?.label && item.subItems,
      }"
    >
      <button
        mat-button
        routerLinkActive="active-item"
        ariaCurrentWhenActive="page"
        [routerLink]="item.navigateTo"
        [class]="{
          item: true,
          'expanded-item':
            item.label === selectedItem()?.label && item.subItems,
        }"
        (click)="handleItemClick(item)"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>

      @if (item.label === selectedItem()?.label && item.subItems) {
        <div class="sub-items-container">
          @for (subItem of item.subItems; track subItem.label) {
            <button
              mat-button
              routerLinkActive="active-item"
              ariaCurrentWhenActive="page"
              class="item sub-item"
              [routerLink]="subItem.navigateTo"
            >
              {{ subItem.label }}
            </button>
          }
        </div>
      }
    </div>
  }
</div>
