<ng-template #importPortfolioAssetDividendsModalContentTemplate>
  <div class="import-portfolio-asset-dividends-modal-content-container">
    <app-upload-input
      [allowedExtensions]="['.csv']"
      [maxFiles]="1"
      (uploadFile)="handleUploadFile($event)"
    />
  </div>
</ng-template>

<ng-template #importPortfolioAssetDividendsModalActionsTemplate>
  <button matButton (click)="handleCancelButtonClick()">Cancelar</button>
  <button
    matButton
    [disabled]="!uploadedFile()"
    (click)="handleConfirmButtonClick()"
  >
    Confirmar
  </button>
</ng-template>
