<ng-template #buySellModalContentTemplate>
  <form [formGroup]="buySellForm">
    <mat-form-field appearance="outline">
      <mat-label>Ativo</mat-label>
      <mat-select formControlName="assetId">
        @for (option of assetInputOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
      <mat-error> Ativo é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker" />
      <mat-datepicker #picker />
      <mat-error> Data é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        @for (option of typeInputOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
      <mat-error> Tipo é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Instituição</mat-label>
      <input matInput formControlName="institution" />
      <mat-error> Instituição é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        formControlName="quantity"
        mask="separator.20"
        thousandSeparator=""
        [dropSpecialCharacters]="false"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input
        matInput
        formControlName="price"
        prefix="$"
        mask="separator.20"
        thousandSeparator=","
        [dropSpecialCharacters]="false"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Taxas</mat-label>
      <input
        matInput
        formControlName="fees"
        mask="separator.20"
        [prefix]="inputMaskPrefix"
        [thousandSeparator]="inputMaskThousandSeparator"
        [dropSpecialCharacters]="false"
      />
    </mat-form-field>
  </form>
</ng-template>

<ng-template #buySellModalActionsTemplate>
  <button matButton (click)="handleCancelButtonClick()">Cancelar</button>
  <button
    matButton
    [disabled]="buySellForm.invalid || buySellForm.pristine"
    (click)="handleConfirmButtonClick()"
  >
    Confirmar
  </button>
</ng-template>
