@if (contributions().length) {
  <div class="simulate-button-container">
    <button matButton="elevated" (click)="handleSimulateButtonClick()">
      Simular
      <mat-icon>attach_money</mat-icon>
    </button>
  </div>

  <div class="contribution-cards-container">
    @for (contribution of contributions(); track $index) {
      <div class="contribution-card">
        <div class="card-header-container">
          <span class="card-title">{{ contribution.asset }}</span>
          <button
            matIconButton
            matTooltip="As porcentagens são definidas no campo % Esperada na tab Resumo do ativo"
            matTooltipPosition="left"
          >
            <mat-icon class="material-symbols-outlined">info_outline</mat-icon>
          </button>
        </div>
        <div class="card-content">
          <ng-container
            [ngTemplateOutlet]="progress"
            [ngTemplateOutletContext]="{
              contributionType: 'min',
              expectedPercentage: contribution.minPercentage,
              contribution: contribution.minContribution,
              currentValue: contribution.currentValue,
              expectedValue:
                contribution.currentValue + contribution.minContribution,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="progress"
            [ngTemplateOutletContext]="{
              contributionType: 'max',
              expectedPercentage: contribution.maxPercentage,
              contribution: contribution.maxContribution,
              currentValue: contribution.currentValue,
              expectedValue:
                contribution.currentValue + contribution.maxContribution,
            }"
          />
        </div>
        <!-- <div class="progress-container">
          <div>
            <span
              [class]="{
                'positive-value': contribution.maxContribution > 0,
                'negative-value': contribution.maxContribution < 0,
              }"
              >{{ contribution.minContribution | currency: "BRL" }}
            </span>
            / <span> {{ contribution.currentValue | currency: "BRL" }}</span>
          </div>
          <div>Progress Bar</div>
        </div>
        <div class="progress-container">
          <div>
            <span
              [class]="{
                'positive-value': contribution.maxContribution > 0,
                'negative-value': contribution.maxContribution < 0,
              }"
              >{{ contribution.maxContribution | currency: "BRL" }}
            </span>
            / <span> {{ contribution.currentValue | currency: "BRL" }}</span>
          </div>
          <div>Progress Bar</div>
        </div> -->
      </div>
    }
  </div>
} @else {
  <span>Nenhum resultado encontrado</span>
}

<ng-template
  #progress
  let-contributionType="contributionType"
  let-expectedPercentage="expectedPercentage"
  let-contribution="contribution"
  let-currentValue="currentValue"
  let-expectedValue="expectedValue"
>
  <div class="contributions-progresses-container">
    <div class="contribution-container">
      <div>
        <span class="contribution-label"
          >{{
            contributionType === "min"
              ? "Porcentagem Mínima"
              : "Porcentagem Máxima"
          }}:</span
        >
        <span>{{ expectedPercentage | percent }}</span>
      </div>
      <div>
        <span class="contribution-label"
          >{{
            contributionType === "min" ? "Aporte Mínimo" : "Aporte Máximo"
          }}:</span
        >
        <span
          [class]="{
            'positive-contribution-value': contribution > 0,
            'negative-contribution-value': contribution < 0,
          }"
          >{{ contribution | currency: "BRL" }}</span
        >
      </div>
    </div>
    <div class="progress-container">
      <div class="progress-values">
        <span>
          {{ currentValue | currency: "BRL" }}
        </span>
        / <span>{{ expectedValue | currency: "BRL" }}</span>
      </div>
      <mat-progress-bar
        [value]="progressBarValue(currentValue, expectedValue)"
        [class]="{ error: currentValue > expectedValue }"
      />
    </div>
  </div>
</ng-template>
