@if (contributions().length) {
  <div class="simulate-button-container">
    <button
      matIconButton
      matTooltip="Por padrão, os cálculos são feitos com as porcentagens esperadas e o valor total do portfólio. Você pode utilizar o botão Simular ao lado para realizar os cálculos com o valor da Classe ou Categoria do ativo"
      matTooltipPosition="right"
    >
      <mat-icon class="material-symbols-outlined">info_outline</mat-icon>
    </button>
    <button matButton="elevated" (click)="handleSimulateButtonClick()">
      Simular
      <mat-icon>attach_money</mat-icon>
    </button>
  </div>

  <div class="contribution-cards-container">
    @for (contribution of contributions(); track $index) {
      <div class="contribution-card">
        <div class="card-header-container">
          <span class="card-title">{{ contribution.asset }}</span>
        </div>
        <div class="card-content">
          <ng-container
            [ngTemplateOutlet]="progress"
            [ngTemplateOutletContext]="{
              portfolioAssetId: contribution.portfolioAssetId,
              contributionType: 'min',
              expectedPercentage: contribution.minPercentage,
              contribution: contribution.minContribution,
              assetCurrentValue: contribution.assetCurrentValue,
              expectedValue:
                contribution.assetCurrentValue + contribution.minContribution,
            }"
          />
          <ng-container
            [ngTemplateOutlet]="progress"
            [ngTemplateOutletContext]="{
              portfolioAssetId: contribution.portfolioAssetId,
              contributionType: 'max',
              expectedPercentage: contribution.maxPercentage,
              contribution: contribution.maxContribution,
              assetCurrentValue: contribution.assetCurrentValue,
              expectedValue:
                contribution.assetCurrentValue + contribution.maxContribution,
            }"
          />
        </div>
      </div>
    }
  </div>
} @else {
  <span>Nenhum resultado encontrado</span>
}

<ng-template
  #progress
  let-portfolioAssetId="portfolioAssetId"
  let-contributionType="contributionType"
  let-expectedPercentage="expectedPercentage"
  let-contribution="contribution"
  let-assetCurrentValue="assetCurrentValue"
  let-expectedValue="expectedValue"
>
  <div class="contributions-progresses-container">
    <div class="contribution-container">
      <div>
        <span class="contribution-label"
          >{{
            contributionType === "min"
              ? "Porcentagem Mínima"
              : "Porcentagem Máxima"
          }}:</span
        >

        @if (
          displayPercentageInputFor === `${portfolioAssetId}-${contributionType}`
        ) {
          <div class="percentage-input-container">
            <mat-form-field appearance="outline">
              <mat-label>{{
                contributionType === "min" ? "Min" : "Máx"
              }}</mat-label>
              <input
                matInput
                type="number"
                min="0"
                max="100"
                [formControl]="percentage"
              />
            </mat-form-field>
            <mat-icon
              class="primary save-icon"
              (click)="
                handleSaveButtonClick(portfolioAssetId, contributionType)
              "
            >
              check
            </mat-icon>
          </div>
        } @else {
          <div
            aria-hidden="true"
            class="percentage-value-container"
            (click)="
              handlePercentageValueClick(
                portfolioAssetId,
                contributionType,
                expectedPercentage
              )
            "
          >
            <span>{{ expectedPercentage | percent }}</span>
            <mat-icon class="primary edit-icon">edit</mat-icon>
          </div>
        }
      </div>
      <div>
        <span class="contribution-label">Aporte Necessário:</span>
        <span
          [class]="{
            'positive-contribution-value': contribution > 0,
            'negative-contribution-value': contribution < 0,
          }"
          >{{ contribution | currency: "BRL" }}</span
        >
      </div>
    </div>
    <div class="progress-container">
      <div class="progress-values">
        <span>
          {{ assetCurrentValue | currency: "BRL" }}
        </span>
        / <span>{{ expectedValue | currency: "BRL" }}</span>
      </div>
      <mat-progress-bar
        [value]="getProgressBarValue(assetCurrentValue, expectedValue)"
        [class]="{ error: assetCurrentValue > expectedValue }"
      />
    </div>
  </div>
</ng-template>

<app-contribution-filters-modal
  (cancel)="closeModal()"
  (apply)="handleApplyFilters($event)"
/>
