@for (portfolioAssetInfoRow of portfolioAssetInfoRows(); track $index) {
  <div class="portfolio-asset-info-row">
    @for (portfolioAssetInfoColumn of portfolioAssetInfoRow; track $index) {
      <div class="portfolio-asset-info-column">
        <span class="portfolio-asset-info-label">
          {{ portfolioAssetInfoColumn.label }}
        </span>

        <span
          [class]="getPortfolioAssetInfoValueClasses(portfolioAssetInfoColumn)"
        >
          {{ portfolioAssetInfoColumn.valueToDisplay }}
        </span>
      </div>
    }
  </div>
}
