:host {
  display: flex;
  gap: 1rem;

  .portfolio-overview-card {
    background-color: #0d0d0d;
    border-radius: 0.5rem;
    flex: 1;
    padding: 1rem;

    p {
      &.positive-value {
        color: var(--mat-sys-primary);
      }

      &.negative-value {
        color: var(--mat-sys-error);
      }
    }
  }
}