@for (portfolioOverviewCard of portfolioOverviewCards(); track $index) {
  <div class="portfolio-overview-card">
    <h3>
      {{ portfolioOverviewCard.title }}
    </h3>
    <p
      [class]="{
        'positive-value':
          ['Lucro', 'Rentabilidade'].includes(portfolioOverviewCard.title) &&
          portfolioOverviewCard.rawValue > 0,
        'negative-value':
          ['Lucro', 'Rentabilidade'].includes(portfolioOverviewCard.title) &&
          portfolioOverviewCard.rawValue < 0,
      }"
    >
      {{ portfolioOverviewCard.formattedValue }}
    </p>
  </div>
}
