<mat-tab-group>
  <mat-tab label="Resumo">
    <app-portfolio-asset-overview #portfolioAssetOverviewComponent />
  </mat-tab>
  <mat-tab label="Operações">
    <app-portfolio-asset-operations
      (updateOperationsList)="
        portfolioAssetOverviewComponent.getPortfolioAssetMetrics()
      "
    />
  </mat-tab>
  <mat-tab label="Rentabilidade">Rentabilidade</mat-tab>
  <mat-tab label="Proventos">
    <app-portfolio-asset-payouts
      [portfolioAsset]="portfolioAsset()"
      (updatePayouts)="
        portfolioAssetOverviewComponent.getPortfolioAssetMetrics()
      "
    />
  </mat-tab>
  <mat-tab label="Comentários">
    <app-portfolio-asset-comments />
  </mat-tab>
</mat-tab-group>
