<app-table
  [headers]="tableHeaders"
  [dataSource]="tableData()"
  [paginatorConfig]="paginatorConfig()"
  (pageClick)="handlePageClick($event)"
>
  <button matButton="elevated" (click)="openEventModal()">
    Adicionar
    <mat-icon>add</mat-icon>
  </button>
  <button matButton="elevated" (click)="handleImportButtonClick()">
    Importar
    <mat-icon>upload</mat-icon>
  </button>
</app-table>

<app-portfolio-asset-event-modal
  [portfolioAsset]="portfolioAsset()"
  [event]="event()"
  (cancelModal)="handleCancelModal()"
  (saveEvent)="updateEventsList()"
/>

<app-import-portfolio-asset-events-modal
  [portfolioAsset]="portfolioAsset()"
  (cancelModal)="closeModal()"
  (importEvents)="updateEventsList()"
/>

<!-- <app-delete-portfolio-asset-payout-modal
  [portfolioAsset]="portfolioAsset()"
  (cancelModal)="closeModal()"
  (deletePayout)="updatePayoutsList()"
/> -->
