@use '@angular/material' as mat;
@use 'theme-colors';

:root {
  @include mat.sidenav-overrides((
    container-background-color: #0d0d0d,
    container-shape: 0,
    container-text-color: #fff,
    container-width: 275px,
    content-background-color: light-dark(#f5fafe, #171717),
  ));

  @include mat.table-overrides((
    background-color: light-dark(#fff, #0d0d0d),
    header-headline-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  ));

  @include mat.paginator-overrides((
    container-text-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
    container-background-color: light-dark(#fff, #0d0d0d),
    enabled-icon-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  ));

  // @include mat.select-overrides((
  //   enabled-trigger-text-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  //   enabled-arrow-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  // ));

  @include mat.button-overrides((
    protected-container-color: var(--mat-sys-primary),
    protected-label-text-color: #fff,
    protected-ripple-color: rgba(0, 0, 0, .3),
    protected-state-layer-color: rgb(0, 0, 0),
    protected-hover-state-layer-opacity: 0.2
  ));

  @include mat.dialog-overrides((
    container-color: light-dark(#f5fafe, #171717),
    content-padding: 1.5rem,
    actions-padding: 1.5rem
  ));

  .error {
    @include mat.icon-button-overrides((
      icon-color: #ba1a1a
    ));
  }
}

html {
  // color-scheme: light dark;
  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

.mat-mdc-tab-body-wrapper {
  padding: 1rem;
}
