@use '@angular/material' as mat;
@use 'theme-colors';

:root {
  @include mat.sidenav-overrides((
    container-background-color: #0d0d0d,
    container-shape: 0,
    container-text-color: #fff,
    container-width: 275px,
    content-background-color: light-dark(#f5fafe, #171717),
  ));

  @include mat.table-overrides((
    background-color: light-dark(#fff, #0d0d0d),
    header-headline-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  ));

  @include mat.paginator-overrides((
    container-text-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
    container-background-color: light-dark(#fff, #0d0d0d),
    enabled-icon-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  ));

  @include mat.select-overrides((
    enabled-trigger-text-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
    enabled-arrow-color: light-dark(var(--mat-sys-on-surface), var(--mat-sys-primary)),
  ));
}

html {
  // color-scheme: light dark;
  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
