:host {
  display: block;
  height: 100vh;
}

.mat-drawer-container {
  height: 100vh;

  .page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 1.5rem;

    .main-content {
      flex: 1;
    }
  }
}