@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #171717;
  height: 100%;
}

body {
  color: #FFF;
  height: 100%;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.40);
}

input:focus {
  border-color: #00e663 !important;
  box-shadow: none !important;
  outline: 2px solid transparent !important;
}

input.input-error, input:focus.input-error {
  border-color: #d32f2f !important;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */