<app-table
  [headers]="tableHeaders"
  [dataSource]="tableData()"
  [clickableRows]="true"
  [paginatorConfig]="paginatorConfig()"
  (rowClick)="handleRowClick($event)"
  (pageClick)="handlePageClick($event)"
  (activeColumnChange)="handleActiveColumnChange($event)"
>
  <button matButton="elevated" (click)="handleAddButtonClick()">
    Adicionar
    <mat-icon>add</mat-icon>
  </button>
</app-table>

<app-product-modal
  (cancelModal)="closeModal()"
  (saveProduct)="handleSaveProduct($event)"
/>

<app-toggle-state-modal
  (cancel)="handleToggleStateModalCancel($event)"
  (confirm)="handleToggleStateModalConfirm($event)"
/>
