<div class="login-box">
  <app-logo />

  <form [formGroup]="loginForm" (submit)="handleLoginFormSubmit()">
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
          {{ getErrorMessage(loginForm, "email", "Email") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
        />
        <button
          matIconButton
          matSuffix
          type="button"
          (click)="togglePasswordInputVisibility()"
        >
          <mat-icon>
            {{ showPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error> Password is required </mat-error>
      </mat-form-field>
    </div>

    <button matButton="elevated">Login</button>
  </form>
</div>
